API_URL=https://dev.almaz.uno/api

NEXT_PUBLIC_GA_MEASUREMENT_ID="G-XXXXXXXXXX"

# BNB:
TOKEN_SYMBOL="BNB"
TOKEN_DECIMALS=18
CONTRACT_FACTORY_ADDRESS=0x54a84BA0c2903252140262872ba5a618632CD6e2
REQUIRED_CHAIN_ID=0x61
BLOCKCHAIN_NETWORK_NAME="Binance Smart Chain – Testnet"
BLOCKCHAIN_VIEW_ADDRESS_URL=https://testnet.bscscan.com/address

# Mumbai:
# TOKEN_SYMBOL="MATIC"
# TOKEN_DECIMALS=18
# CONTRACT_FACTORY_ADDRESS=0x38b16B05E4ef4d23e9Cb851e32a42Ae24138d25E
# REQUIRED_CHAIN_ID=0x13881
# BLOCKCHAIN_NETWORK_NAME="Mumbai – Testnet"
# BLOCKCHAIN_VIEW_ADDRESS_URL=https://mumbai.polygonscan.com/address
